body{
  background-image: url('./img/bg_poke.jpg');
  background-size: cover;
  height: 100vh;
}

.App {
  text-align: center;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
.App input {
  margin-top: 45px;
  padding: 15px;
  border: 2px solid gray;
  width: 230px;
}
.container ul li{
  list-style: none;
  border: 1px solid rgb(255, 255, 255);
  background: rgba(3, 81, 95, 0.561);
  color: #fff;
  font-size: 25px;
  width: 500px;
  padding: 20px;
}
@media (max-width: 650px) {
  .App input {
    width: 100%;
  }
  .container ul li {
    width: 100vw;
  }
}
